.cards-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    gap: 1rem;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 156px;
    height: 250px;
    justify-content: flex-end;

    background-image: url(../../image/produtos/starwars/caneca.svg);
    background-repeat: no-repeat;
}
.cards__descricaoProduto{
    font-size: .875rem;
    font-weight: 500;
    color: var(--preto-100);
}
.cards__valor{
    font-size: 1rem;
    font-weight: 700;
    color: var(--preto-100);    
}
.cards__link{
    font-size: .875rem;
    font-weight: 700;
    color: var(--azul-100);
    text-decoration: none;    
}