.descricao__setor{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.descricao__setor--titulo{
    color: var(--preto-100);
    font-size: 1.375rem;
    font-weight: 700;
}
.descricao__setor--link{
    display: flex;
    align-items: center;
    gap: 4px;
}
.descricao__setor--link-texto{
    color: var(--azul-100);
    font-size: .875rem;
    font-weight: 700;
}
