.navegacao{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegacao__container{
    display: flex;
    gap: 2rem;
}
.navegacao__lupa{
    display: none;
}