.banner{
    width: 100%;
}
@media screen and (min-width: 768px){
    .banner__imagem{
        padding: 2rem;
        height: 352px;
        gap: 1rem;
    }
    .banner__imagem--titulo{
        font-size: 3.25rem;
    }
    .banner__imagem--texto{
        font-size: 1.375rem;
    }    
}